@import "../../style/variables.scss";
@import "../../style/index.scss";


// .app__header {
// }
.app__header__inner {
    background-image: url(../../resources/img/bedroom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    .header__content_container {
        display: flex;
        flex-direction: column;
        margin: 0 213px;
        padding-top: 100px;
    }
    // background-size: cover;
}
    .app__info {
    align-items: flex-start;
    margin-top: 100px;
    color: #ffffff;
    .app__title__normal {
        font-family: "Montserrat";
        font-style: normal;
        font-size: 50px;
        text-transform: uppercase;
        .app__title__bold {
            font-family: "Slabo", normal;
            font-size: 154px;
            line-height: 185px;
            letter-spacing: 0.07em;
        }
        .app__title__bold_small {
            font-family: "Slabo", normal;
            font-size: 60px;
            line-height: 72px;
            letter-spacing: 0.4em;
        }
    }
    .app__header-text {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 0.1em;
    }
}
.scroll {
    align-self: center;
    margin-top: 120px;
    width: 79px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    .icon {
        margin-top: 15px;
        height: 60px;
        width: 60px;
    }
}
