@import "../../style/variables.scss";
@import "../../style/index.scss";

.rooms__list {
    font-family: "Montserrat";
    .rooms__text {
        margin-top: 90px;
        text-transform: uppercase;
        font-family: "Adobe Garamond Pro";
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 72px;
        text-align: center;
        letter-spacing: 0.05em;
        color: $main-font-color;
    }
    .rooms__descr {
        margin: 3rem 1rem;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 29px;
        text-align: center;
        color: $main-font-color;
    }

    .rooms__item__list {
        margin: 5% 15%;
        .rooms__grid {
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
        }
    }
}
