@import "../../style/variables.scss";
@import "../../style/index.scss";

.rooms__list {
    font-family: "Montserrat";
    .rooms__text {
        margin-top: 90px;
        text-transform: uppercase;
        font-family: "Adobe Garamond Pro";
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 72px;
        text-align: center;
        letter-spacing: 0.05em;
        color: $main-font-color;
    }
    .rooms__descr {
        margin: 3rem 1rem;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 29px;
        text-align: center;
        color: $main-font-color;
    }

    .rooms__item__list {
        margin: 5% 15%;
        .rooms__grid {
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            .room__item {
                list-style-type: none;
                margin-bottom: 82px;
                .room__img {
                    width: 300px;
                    height: 300px;
                    object-fit: cover;
                    display: flex;
                }
                .room__title {
                    width: 100%;
                    padding: 41px 0;
                    text-transform: uppercase;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 700;
                    font-size: 60px;
                    line-height: 73px;
                    color: #ffffff;
                    background-color: $main-font-color;
                    text-align: center;
                }
                .room__interaction {
                    border: 2px solid #14274a;
                    border-radius: 0px 0px 15px 15px;
                    display: flex;
                    justify-content: flex-end;
                    .room__buttons {
                        margin: 15px;
                        .room__counter {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 10px;
                            font-weight: 700;
                            font-size: 25px;
                            line-height: 30px;
                            .counter {
                                font-family: "Montserrat";
                                font-size: 25px;
                                display: flex;
                                align-items: center;
                            }
                            .button {
                                cursor: pointer;
                                font-family: "Montserrat", sans-serif;
                                font-weight: 700;
                                color: #ffffff;
                                font-size: 25px;
                                width: 51px;
                                height: 51px;
                                border-radius: 50%;
                                border: 0;
                                background-color: #e0b973;
                            }
                            .button:hover {
                                background-color: #c29747;
                            }
                        }
                        .rooms__price {
                            color: #ffffff;
                            font-family: "Montserrat";
                            font-weight: 700;
                            font-size: 25px;
                            line-height: 30px;
                            background-color: #e0b973;
                            border-radius: 10px;
                            padding: 24px 51px;
                        }
                    }
                    .rooms_button_delete {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
    .buy__container {
        border-radius: 15px;
        padding: 25px;
        color: #ffffff;
        font-family: "Montserrat";
        background-color: $main-font-color;
        margin: 5% 10%;
        display: flex;
        flex-direction: column;
        align-items: self-end;
    }
}

.trash__icon {
    width: 65px;
    height: auto;
}
